/*remove the gap at the top of the page*/
body {
    margin:0;
}

header h1 {
    color: #2de349;
    text-align: center;
    margin: 0;
    padding: 2%;
    font-size: 40px;
}

header {
    background-color:aquamarine;
    
}

.nav {
    display:flex;
    width:100%
}

.nav a.left {
    position:absolute;
    left: 1%;
    font-size: 20px;
}

.nav a.middle {
    position:absolute;
    left: 50%;
}

.nav a.right {
    position: absolute;
    right: 1%;
}

.radio-buttons {
    display:flex;
    justify-content:space-between;
    
}